<div class="jumbotron">
  <h1>Welcome to DataCamp-Tapas</h1>
  <p>
    This is simple MVP to show Tapas videos.
  </p>
  <p>
    <%= link_to 'Register now!', '#', class: 'btn btn-lg btn-primary'%>
  </p>
</div>
